.u-section-1 {background-image: none}
.u-section-1 .u-sheet-1 {min-height: 657px}
.u-section-1 .u-group-1 {width: 1016px; min-height: 415px; margin: 79px auto 65px 0}
.u-section-1 .u-container-layout-1 {padding: 20px}
.u-section-1 .u-text-1 {margin-top: 0; font-size: 1.875rem; font-weight: 700; margin-bottom: 0} 

@media (max-width: 1199px){ .u-section-1 .u-group-1 {width: 838px; height: auto} }

@media (max-width: 991px){ .u-section-1 .u-group-1 {width: 642px} }

@media (max-width: 767px){ .u-section-1 .u-group-1 {width: 540px}
.u-section-1 .u-container-layout-1 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 470px}
.u-section-1 .u-group-1 {min-height: 229px; margin-top: 78px; margin-bottom: 163px; margin-right: initial; margin-left: initial; width: auto} }.u-section-2 {background-image: none}
.u-section-2 .u-sheet-1 {min-height: 557px}
.u-section-2 .u-layout-wrap-1 {margin: -102px auto 60px 0}
.u-section-2 .u-image-1 {min-height: 682px; background-image: url("images/gettyimages9586408721.jpg"); background-position: 50% 50%}
.u-section-2 .u-container-layout-1 {padding: 20px 17px 20px 20px}
.u-section-2 .u-layout-cell-2 {min-height: 211px; background-image: none}
.u-section-2 .u-container-layout-2 {padding: 20px 40px}
.u-section-2 .u-text-1 {margin: 0}
.u-section-2 .u-text-2 {margin: 20px 0 0}
.u-section-2 .u-layout-cell-3 {min-height: 471px}
.u-section-2 .u-container-layout-3 {padding: 20px 40px}
.u-section-2 .u-text-3 {margin: 0}
.u-section-2 .u-text-4 {margin: -350px 0 0} 

@media (max-width: 1199px){ .u-section-2 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-2 .u-image-1 {min-height: 562px}
.u-section-2 .u-layout-cell-2 {min-height: 174px}
.u-section-2 .u-text-1 {position: relative}
.u-section-2 .u-text-2 {position: relative}
.u-section-2 .u-layout-cell-3 {min-height: 388px}
.u-section-2 .u-text-3 {position: relative}
.u-section-2 .u-text-4 {position: relative} }

@media (max-width: 991px){ .u-section-2 .u-layout-wrap-1 {margin-bottom: 46px; margin-right: initial; margin-left: initial}
.u-section-2 .u-image-1 {min-height: 430px}
.u-section-2 .u-layout-cell-2 {min-height: 100px}
.u-section-2 .u-container-layout-2 {padding-left: 30px; padding-right: 30px}
.u-section-2 .u-layout-cell-3 {min-height: 100px}
.u-section-2 .u-container-layout-3 {padding-left: 30px; padding-right: 30px} }

@media (max-width: 767px){ .u-section-2 .u-sheet-1 {min-height: 500px}
.u-section-2 .u-image-1 {min-height: 645px}
.u-section-2 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-container-layout-3 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-2 .u-image-1 {min-height: 406px} }.u-section-3 .u-sheet-1 {min-height: 600px}
.u-section-3 .u-layout-wrap-1 {width: 900px; margin: 85px auto 30px 120px}
.u-section-3 .u-layout-cell-1 {min-height: 485px}
.u-section-3 .u-container-layout-1 {padding: 20px}
.u-section-3 .u-text-1 {margin-top: 0; margin-bottom: 0}
.u-section-3 .u-text-2 {margin: 16px 0 0}
.u-section-3 .u-image-1 {min-height: 485px; background-image: url("images/NINTCHDBPICT000051068846e1564254044744.jpg"); background-position: 50% 50%}
.u-section-3 .u-container-layout-2 {padding: 20px} 

@media (max-width: 1199px){ .u-section-3 .u-sheet-1 {min-height: 602px}
.u-section-3 .u-layout-wrap-1 {width: 742px; margin-left: 99px}
.u-section-3 .u-layout-cell-1 {min-height: 433px}
.u-section-3 .u-text-1 {position: relative; margin-bottom: 20px}
.u-section-3 .u-image-1 {min-height: 433px; background-position: 100% 50%} }

@media (max-width: 991px){ .u-section-3 .u-sheet-1 {min-height: 646px}
.u-section-3 .u-layout-wrap-1 {margin-top: 81px; margin-bottom: 81px; margin-right: initial; margin-left: initial; width: auto}
.u-section-3 .u-layout-cell-1 {min-height: 485px}
.u-section-3 .u-text-1 {margin-bottom: 0}
.u-section-3 .u-image-1 {min-height: 485px} }

@media (max-width: 767px){ .u-section-3 .u-sheet-1 {min-height: 1128px}
.u-section-3 .u-layout-wrap-1 {margin-top: 55px; width: auto; margin-right: initial; margin-left: initial}
.u-section-3 .u-layout-cell-1 {min-height: 100px}
.u-section-3 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-image-1 {min-height: NaNpx}
.u-section-3 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-3 .u-sheet-1 {min-height: 459px}
.u-section-3 .u-layout-cell-1 {min-height: 346px}
.u-section-3 .u-image-1 {min-height: 485px} }.u-section-4 .u-sheet-1 {min-height: 399px}
.u-section-4 .u-layout-wrap-1 {margin: 54px 0}
.u-section-4 .u-image-1 {min-height: 291px; background-image: url("images/OptimizedGordonRamsayWithDessertTrioCreditErikKabik.jpg"); background-position: 50% 50%}
.u-section-4 .u-container-layout-1 {padding: 20px}
.u-section-4 .u-layout-cell-2 {min-height: 291px}
.u-section-4 .u-container-layout-2 {padding: 20px 60px}
.u-section-4 .u-text-1 {font-weight: 700; margin: 44px 0 0}
.u-section-4 .u-text-2 {margin: 21px 0 0} 

@media (max-width: 1199px){ .u-section-4 .u-sheet-1 {min-height: 400px}
.u-section-4 .u-layout-wrap-1 {margin-top: 55px; margin-bottom: 55px; margin-right: initial; margin-left: initial}
.u-section-4 .u-container-layout-2 {padding-left: 49px; padding-right: 49px} }

@media (max-width: 991px){ .u-section-4 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-4 .u-container-layout-2 {padding-left: 30px; padding-right: 30px} }

@media (max-width: 767px){ .u-section-4 .u-layout-wrap-1 {margin-top: 20px; margin-bottom: 20px; margin-right: initial; margin-left: initial}
.u-section-4 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }.u-section-5 {background-image: none}
.u-section-5 .u-sheet-1 {min-height: 866px}
.u-section-5 .u-layout-wrap-1 {width: 901px; margin: 71px auto 71px 120px}
.u-section-5 .u-image-1 {min-height: 245px; background-image: url("images/6455882ramsaynewsxxlarge_trans_NvBQzQNjv4BqbRF8GMdXQ5UNQkWBrq_MOBxo7k3IcFzOpcVpLpEdfY1.jpg"); background-position: 50% 50%}
.u-section-5 .u-container-layout-1 {padding: 20px}
.u-section-5 .u-layout-cell-2 {min-height: 489px; background-position: 0% 0%}
.u-section-5 .u-container-layout-2 {padding: 20px}
.u-section-5 .u-text-1 {margin: 0}
.u-section-5 .u-layout-cell-3 {min-height: 245px; background-position: 0% 0%}
.u-section-5 .u-container-layout-3 {padding: 20px}
.u-section-5 .u-text-2 {margin: 0}
.u-section-5 .u-image-2 {min-height: 489px; background-image: url("images/GordonRamsaySavagelyCritiquesSpicyWings_HotOnes80screenshot.png"); background-position: 50% 50%}
.u-section-5 .u-container-layout-4 {padding: 20px} 

@media (max-width: 1199px){ .u-section-5 .u-layout-wrap-1 {width: 743px; margin-left: 99px}
.u-section-5 .u-text-1 {position: relative}
.u-section-5 .u-text-2 {position: relative} }

@media (max-width: 991px){ .u-section-5 .u-layout-wrap-1 {margin-right: initial; margin-left: initial; width: auto}
.u-section-5 .u-image-1 {min-height: NaNpx}
.u-section-5 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-5 .u-layout-cell-2 {min-height: 100px}
.u-section-5 .u-container-layout-2 {padding-left: 30px; padding-right: 30px}
.u-section-5 .u-layout-cell-3 {min-height: 100px}
.u-section-5 .u-container-layout-3 {padding-left: 30px; padding-right: 30px}
.u-section-5 .u-image-2 {min-height: NaNpx}
.u-section-5 .u-container-layout-4 {padding-left: 30px; padding-right: 30px} }

@media (max-width: 767px){ .u-section-5 .u-sheet-1 {min-height: 1691px}
.u-section-5 .u-layout-wrap-1 {margin-top: 50px; width: auto; margin-right: initial; margin-left: initial}
.u-section-5 .u-image-1 {min-height: 241px}
.u-section-5 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-5 .u-layout-cell-2 {min-height: 373px}
.u-section-5 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-5 .u-layout-cell-3 {min-height: 190px}
.u-section-5 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-5 .u-image-2 {min-height: 534px}
.u-section-5 .u-container-layout-4 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-5 .u-sheet-1 {min-height: 1230px}
.u-section-5 .u-layout-wrap-1 {margin-bottom: 0; width: auto; margin-right: initial; margin-left: initial}
.u-section-5 .u-image-1 {min-height: 177px}
.u-section-5 .u-layout-cell-2 {min-height: 354px}
.u-section-5 .u-layout-cell-3 {min-height: 266px}
.u-section-5 .u-image-2 {min-height: 265px} }